In [31]:
import pandas as pd
import numpy as np

In [32]:
train_dir = '../dataset/train/train.csv'
test_dir = '../dataset/test/test_data.csv'

In [33]:
raw_train = pd.read_csv(train_dir)
raw_test = pd.read_csv(test_dir)
train = pd.read_csv(train_dir)
test = pd.read_csv(test_dir)

In [34]:
duplicated_all = train.drop_duplicates(['sentence', 'subject_entity','object_entity', 'label'])

In [35]:
duplicated_all = duplicated_all.sort_values(by=['sentence','label'])

In [36]:
duplicated_all[duplicated_all.duplicated(['sentence', 'subject_entity','object_entity'],keep=False) == True] # input

,id,sentence,subject_entity,object_entity,label,source
6749,6749,대한항공은 5일 조양호 회장의 3자녀가 보유한 싸이버스카이 주식 9만9900주 전량...,"{'word': '대한항공', 'start_idx': 0, 'end_idx': 3,...","{'word': '조양호', 'start_idx': 9, 'end_idx': 11,...",no_relation,wikipedia
12829,12829,대한항공은 5일 조양호 회장의 3자녀가 보유한 싸이버스카이 주식 9만9900주 전량...,"{'word': '대한항공', 'start_idx': 0, 'end_idx': 3,...","{'word': '조양호', 'start_idx': 9, 'end_idx': 11,...",org:top_members/employees,wikipedia
8364,8364,배우 김병철 씨가 연기하는 정복동은 천리마마트를 망하게 하기 위해 여러 계획을 세우...,"{'word': '정복동', 'start_idx': 15, 'end_idx': 17...","{'word': '김병철', 'start_idx': 3, 'end_idx': 5, ...",no_relation,wikitree
32299,32299,배우 김병철 씨가 연기하는 정복동은 천리마마트를 망하게 하기 위해 여러 계획을 세우...,"{'word': '정복동', 'start_idx': 15, 'end_idx': 17...","{'word': '김병철', 'start_idx': 3, 'end_idx': 5, ...",per:alternate_names,wikitree
22258,22258,"영화 '버즈 오브 프레이'는 배트맨이 없는 고담시에서 할리퀸, 헌트리스, 블랙 카나...","{'word': '배트맨', 'start_idx': 16, 'end_idx': 18...","{'word': '고담시', 'start_idx': 24, 'end_idx': 26...",no_relation,wikitree
11511,11511,"영화 '버즈 오브 프레이'는 배트맨이 없는 고담시에서 할리퀸, 헌트리스, 블랙 카나...","{'word': '배트맨', 'start_idx': 16, 'end_idx': 18...","{'word': '고담시', 'start_idx': 24, 'end_idx': 26...",per:place_of_residence,wikitree
277,277,"이날 프로그램 공개에서는 전북영산작법보존회와 김명신‧정상희의 사제동행 판소리, 관악...","{'word': '강태환', 'start_idx': 62, 'end_idx': 64...","{'word': '색소폰', 'start_idx': 58, 'end_idx': 60...",no_relation,wikitree
3296,3296,"이날 프로그램 공개에서는 전북영산작법보존회와 김명신‧정상희의 사제동행 판소리, 관악...","{'word': '강태환', 'start_idx': 62, 'end_idx': 64...","{'word': '색소폰', 'start_idx': 58, 'end_idx': 60...",per:title,wikitree
4212,4212,한편 전라남도는 최근 확진자가 발생한 순천시와 여수시에 마스크를 각각 2만장씩 총 ...,"{'word': '전라남도', 'start_idx': 3, 'end_idx': 6,...","{'word': '여수시', 'start_idx': 26, 'end_idx': 28...",org:members,wikitree
25094,25094,한편 전라남도는 최근 확진자가 발생한 순천시와 여수시에 마스크를 각각 2만장씩 총 ...,"{'word': '전라남도', 'start_idx': 3, 'end_idx': 6,...","{'word': '여수시', 'start_idx': 26, 'end_idx': 28...",org:place_of_headquarters,wikitree

In [37]:
duplicated_input = duplicated_all.drop_duplicates(['sentence', 'subject_entity','object_entity'],keep='last')

In [38]:
train[train['id']==4212]

,id,sentence,subject_entity,object_entity,label,source
4212,4212,한편 전라남도는 최근 확진자가 발생한 순천시와 여수시에 마스크를 각각 2만장씩 총 ...,"{'word': '전라남도', 'start_idx': 3, 'end_idx': 6,...","{'word': '여수시', 'start_idx': 26, 'end_idx': 28...",org:members,wikitree

In [39]:
duplicated_input = duplicated_input.append(train[train['id']==4212])

In [40]:
duplicated_input

,id,sentence,subject_entity,object_entity,label,source
32090,32090,"""(무소속 출마에 대해) 고민한 건 사실""이라고 털어 논 조배숙 의원 ""제가 국민의...","{'word': '조배숙', 'start_idx': 32, 'end_idx': 34...","{'word': '국민의당', 'start_idx': 43, 'end_idx': 4...",no_relation,wikitree
22458,22458,"""(이 날 투구는) 확실히 제대로 된 스타트였다."" 아덴하트는 2008년 5월 12...","{'word': '시카고 화이트삭스', 'start_idx': 48, 'end_id...","{'word': '2008', 'start_idx': 35, 'end_idx': 3...",no_relation,wikipedia
919,919,"""2006년 지방선거에 참패하고 민주당과 그 전신인 열린 우리당은 노 씨의 국정 운...","{'word': '열린 우리당', 'start_idx': 29, 'end_idx':...","{'word': '노무현', 'start_idx': 127, 'end_idx': 1...",no_relation,wikipedia
14736,14736,"""2006년 지방선거에 참패하고 민주당과 그 전신인 열린 우리당은 노 씨의 국정 운...","{'word': '열린 우리당', 'start_idx': 29, 'end_idx':...","{'word': '정세균', 'start_idx': 108, 'end_idx': 1...",no_relation,wikipedia
18793,18793,"""It's the economy, stupid""(이츠 디 이코노미, 스튜피드)는 1...","{'word': '빌 클린턴', 'start_idx': 68, 'end_idx': ...","{'word': '민주당', 'start_idx': 63, 'end_idx': 65...",per:employee_of,wikipedia
...,...,...,...,...,...,...
2226,2226,힙합 그룹 에픽하이의 리더인 타블로는 멤버들의 군 입대와 학력 논란으로 인한 공백을...,"{'word': '에픽하이', 'start_idx': 6, 'end_idx': 9,...","{'word': '타블로', 'start_idx': 16, 'end_idx': 18...",per:employee_of,wikipedia
24292,24292,힙합 그룹 에픽하이의 리더인 타블로는 멤버들의 군 입대와 학력 논란으로 인한 공백을...,"{'word': '타블로', 'start_idx': 16, 'end_idx': 18...","{'word': '에픽하이', 'start_idx': 6, 'end_idx': 9,...",per:employee_of,wikipedia
25381,25381,힙합 레이블 AOMG 대표 박재범 씨가 라디오 진행 도중 새 멤버를 깜짝 발표했다.,"{'word': 'AOMG', 'start_idx': 7, 'end_idx': 10...","{'word': '박재범', 'start_idx': 15, 'end_idx': 17...",org:top_members/employees,wikitree
4593,4593,힙합듀오 다이나믹듀오가 설립한 '아메바컬쳐'에서 6년간 활동했다.,"{'word': '다이나믹듀오', 'start_idx': 5, 'end_idx': ...","{'word': '아메바컬쳐', 'start_idx': 18, 'end_idx': ...",per:employee_of,wikitree
4212,4212,한편 전라남도는 최근 확진자가 발생한 순천시와 여수시에 마스크를 각각 2만장씩 총 ...,"{'word': '전라남도', 'start_idx': 3, 'end_idx': 6,...","{'word': '여수시', 'start_idx': 26, 'end_idx': 28...",org:members,wikitree

In [41]:
duplicated_input.to_csv('../dataset/train/cleaned_train.csv', index=False)